.card {
  margin: 0;
  padding: 0;
  background: #FDFDFD;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.card__image-content {
  width: 270px;
  height: 151px;
}

.card__image {
  width: inherit;
  height: inherit;
}

.card__element {
  display: flex;
  justify-content: space-between;
  margin: 14px 12px;
}

.card__title {
  width: 220px;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.card__button {
  height: 16px;
  width: 16px;
  padding: 0;
  border: 2px solid #fff;
  background: #F9F9F9;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  transition: opacity .2s linear;
}

.card__button:hover {
  cursor: pointer;
}

.card__button_active {
  background: #2BE080;
}

.card__button-delete {
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: transparent url(../../images/icons/cross.svg) center / 16px no-repeat;
}

.card__button-delete:hover {
  opacity: .6;
  cursor: pointer;
}

.card__duration {
  margin: 10px 0 14px 12px;
  padding-top: 7px;
  color: #A0A0A0;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

@media screen and (min-width: 768px) {
  .card__image-content {
    width: 339px;
    height: 190px;
  }
}
