.about-me {
  margin: 140px 14px 70px;
  text-align: left;
}

.about-me__title {
  margin: 0;
  padding: 0 0 28px;
  border-bottom: 1px solid #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
}

.about-me__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 60px 0 0;
}

.about-me__image {
  width: 292px;
  height: 352px;
  object-fit: cover;
  border-radius: 10px;
}

.about-me__info {
  margin: 40px 0 0;
}

.about-me__name {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.04em;
}

.about-me__profession {
  margin: 20px 0 0;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
}

.about-me__description {
  margin: 20px 0 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
}

.about-me__link-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 40px 0 0;
  padding: 0;
  list-style: none;
}

.about-me__link {
  margin: 0;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  transition: opacity .2s linear;
}

.about-me__link:hover {
  opacity: .6;
}

@media screen and (min-width: 768px) {
  .about-me {
    margin: 90px 50px;
  }

  .about-me__title {
    padding: 0 0 23px;
    font-size: 22px;
    line-height: 27px;
  }

  .about-me__wrapper {
    flex-direction: row-reverse;
    margin: 66px 0 0;
  }

  .about-me__image {
    width: 255px;
    height: 307px;
  }

  .about-me__info {
    margin: 0 50px 0 0;
  }

  .about-me__name {
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__profession {
    margin: 16px 0 0;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__description {
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__link-list {
    margin: 75px 0 0;
  }
}
